@model IReadOnlyCollection<Store.Web.App.BookModel>
@{
    ViewData["Title"] = "Вітаємо";
}
<h1 class="text-center m-4">Погляньте на новинки</h1>
<div class="row row-cols-2 row-cols-md-3 g-4">
    @foreach (var book in Model)
    {
        <div class="col-4 row-cols-2">
            <div class="card h-100" onclick="location.href = '@Url.Action("Index", "Book", new { id = book.Id })';">
                <img src="@book.Image" class="card-img-top" alt="..." height="450" width="150">
                <div class="card-body">
                    <h5 class="card-subtitle">@book.Author</h5>
                    <h3 class="card-title">@book.Title</h3>
                    <strong>@Math.Round(book.Price, 2) грн</strong>
                </div>
                <div class="card-footer text-truncate" style="max-height: 150px;">@book.Description</div>
            </div>
        </div>
        if (book.Id == 3)
        {
            <h1 class="text-center m-4">Найпопулярніші книги на цьому тижні <br /></h1>
        }
        if (book.Id == 6)
        {
            <h1 class="text-center m-3">Серія пригодницьких історій про Геральта з Ривії<br /></h1>
        }
    }
</div>
