@model IReadOnlyCollection<Store.Web.App.BookModel>

@{
    ViewData["Title"] = "Результати пошуку";
}

<h1>Результати пошуку</h1>

@if (Model.Count == 0)
{
    <p>Нічого не знайдено</p>
    for (int i = 0; i < 8; i++)
    {
        <div>
            <h1 class="text-center mt-5"><br /></h1>
        </div>
    }
}
else
{
    <div class="row row-cols-2 row-cols-md-3 g-4">
        @foreach (var book in Model)
        {
            <div class="col-4">
                <div class="card h-100" onclick="location.href = '@Url.Action("Index", "Book", new { id = book.Id })';">
                    <img src="@book.Image" class="card-img-top" alt="..." height="450" width="150">
                    <div class="card-body">
                        <h5 class="card-title">@book.Author</h5>
                        <h3>@book.Title</h3>
                        <p class="card-text text-truncate">@book.Description</p>
                    </div>
                    <div class="card-footer">@Math.Round(book.Price, 2) ГРН</div>
                </div>
            </div>
        }
    </div>
}

<div>
    <h1 class="text-center mt-5"><br /></h1>
</div>
<div>
    <h1 class="text-center mt-5"><br /></h1>
</div>
<div>
    <h1 class="text-center mt-5"><br /></h1>
</div>
<div>
    <h1 class="text-center mt-5"><br /></h1>
</div>
<div>
    <h1 class="text-center mt-5"><br /></h1>
</div>

