@model OrderModel

@{
    ViewData["Title"] = "Підтвердження мобільного";
}

<h1>Підтвердження мобільного</h1>

<p>
    Впишіть <em>код підтвердження</em> з SMS.
</p>

<form action="@Url.Action(nameof(OrderController.ConfirmCellPhone))" method="post">
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    <div class="form-group">
        <label for="code">Код підтвердження</label>
        <input type="text" class="form-control" name="confirmationCode" placeholder="4-х значний код" />
        @if (Model.Errors.ContainsKey("confirmationCode"))
        {
            <small class="form-text text-danger">@Model.Errors["confirmationCode"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Перевірити</button>
</form>

<p>
    Якщо на телефон не прийшла SMS, перевірте правильність номера
    і повторіть спробу.
</p>
<form action="@Url.Action("SendConfirmationCode")" method="post">
    <div class="form-group">
        <label for="cellPhone">Мобильный телефон</label>
        <input type="text" class="form-control" name="cellPhone" value="@Model.CellPhone" />
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Відправити код повторно</button>
</form>
@{
    for (int i = 0; i < 5; i++)
    {
        <div>
            <h1 class="text-center mt-5"><br /></h1>
        </div>
    }
}