@model OrderModel
@{
    ViewData["Title"] = "Кошик";
}

<h1>Кошик</h1>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Автор</th>
            <th scope="col">Назва</th>
            <th scope="col">Кількість</th>
            <th scope="col">Ціна</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Items.Length; i++)
        {
            <tr>
                <td class="text-right">@(i + 1)</td>
                <td>@Model.Items[i].Author</td>
                <td>@Model.Items[i].Title</td>
                <td>@Model.Items[i].Count</td>
                <td>@Math.Round(Model.Items[i].Price, 2)</td>
                <td class="text-center">
                    <form class="form-inline" action="@Url.Action("RemoveItem","Order")" method="post">
                        <input type="hidden" name="bookid" value="@Model.Items[i].BookId" />
                        <button class="btn btn-danger" type="submit">Видалити</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Загально</td>
            <td>@Model.TotalCount</td>
            <td>@Math.Round(Model.TotalPrice, 2)</td>
        </tr>
    </tfoot>
</table>

<p>
    Для оформлення замовлення потрібно підтвердити номер вашого мобільного телефону.
    Введіть номер і натисніть <em>Відправити код</em>. На ваш номер буде відправлено SMS з кодом.
</p>
<form action="@Url.Action(nameof(OrderController.SendConfirmation))" method="post">
    <div class="form-group">
        <label for="cellPhone">Мобільний телефон</label>
        <input type="text" class="form-control" name="cellPhone" placeholder="+380959250572" />
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Відправити код</button>
</form>
@{
    for (int i = 0; i < 5; i++)
    {
        <div>
            <h1 class="text-center mt-5"><br /></h1>
        </div>
    }
}
